#gifsAppearHere{
    /* background-color: #000; */
}

img{
  height: 200px;
  width: 200px;
}

.btnClass{
  color: #fff;
  font-size: 16px;
  background-color: #008080;
  /* margin-left: 15px; */
}

#addAnAnimalForm{
  float: right;
}
