
h1{
  color: #fff;
  font-size: 20px;
  text-align: center;
  background-color: darkblue;
}

#gifsAppearHere{
    /* background-color: #000; */
}

img{
  height: 200px;
  width: 200px;
  border-style: solid;
  border-width: 3px;
  margin: 3px;
  border-color: #008080;
}

p {
  text-align: center;
  border-style: solid;
  border-width: 3px;
  margin: 3px;
  border-color: darkblue;
}

legend{
  font-size: 12px;
}

.btnClass{
  color: #fff;
  font-size: 16px;
  background-color: #008080;
  border-radius: 12px;
  /* margin-left: 15px; */
}

#addAnAnimalForm{
  float: right;
}

#col1,#col2,#col3,#col4,#col5,#col6,#col7,#col8,#col9,#col10{
  float: left;
}
